Flask==3.1.0
Flask-JWT-Extended==4.6.0
Flask-Cors==5.0.0
python-dotenv==1.0.1
passlib==1.7.4
qrcode==8.0
Pillow==11.0.0
gunicorn==23.0.0
pymongo==4.11.3
langchain==0.3.25
langchain-openai==0.2.14
openai>=1.58.1,<2.0.0
